* {
    font-family: sans-serif;
    font-weight: lighter;
  }
  h1 {
    text-align: center;
    background-color: #bbb;
    margin: 0;
  }
  h3 {
    padding-left: 5px;
  }
  header, footer {
    background-color: cornflowerblue;
    height: 60px;
    line-height: 60px;
    margin: 5px;
    padding: 5px;
  }
  footer  {
    background-color: green;
    text-align: center;
  }
  .b1 {
    margin: 5px;
    padding: 5px;
    background-color: rgba(0,0,0,0.1);
  }
  .leftnav {
    width: 200px;
    height: 45px;
    line-height: 45px;
    float: left;
  }
  .cat-image {
    width: 30px;
  }
  .title {
    width: 150px;
    text-align: center;
    float: right;
    height: 25px;
    line-height: 25px;
  }
  .rightnav {
    height: 40px;
    line-height: 40px;
    float: right;
  }
  
  .row {
    display: flex; /* equal height of the children */
  }
  .col {
    flex: 1; /* additionally, equal width */
  }
  .col1 {
    max-width: 30%;
    min-height: 400px;
    margin: 5px;
    padding: 5px;
    background-color: darkgoldenrod;
  }
  